body {
	margin: 0;
	font-size:1em;
	/*font-family: 'Inconsolata-Regular', Helvetica, Arial;*/
}

fieldset {
	padding:0.4em;
}

label {
	font-size:0.8em;
}

input#income_id {
	width:215px;
}

input#age_id{
	width:215px;

}

#submit_i {
	margin-top:0.5em;
	padding-right:0.5em;
}

.cslider {
	margin-top:0.5em;
	margin-bottom:0.5em;
}

#view {
	width:100vw;
	height:100vh;	
}

#opt {
	padding:0.5em;
	margin:0.5em;
	background-color:lightgrey;
	z-index:3;
	position: absolute;
	font-size:1.3em;
	top: 0px;
	height:auto;
	width:auto;
}